
##################################################
## Inputs
input_boolean:

  enable_alarm_system:


#################################################################
## Sensors
binary_sensor: 

#Sensative Strips BS
  - platform: template
    sensors:
      frontdoor_contact:
        device_class: opening
        value_template: "{{ is_state('sensor.frontdoor_contact_access_control', '22') }}"

  - platform: template
    sensors:
      sidedoor_contact:
        device_class: opening
        value_template: "{{ is_state('sensor.sidedoor_contact_access_control', '22') }}"

  - platform: template
    sensors:
      backdoor_contact:
        device_class: opening
        value_template: "{{ is_state('sensor.backdoor_contact_access_control', '22') }}"


#################################################################
## Automations
automation:

# Auto set status for Armed Home
  - alias: Auto Status - Armed Home

    trigger:
      - platform: time
        at: '00:00:01'

    condition:
      condition: and
      conditions:
        - condition: or
          conditions:
            - condition: state
              entity_id: binary_sensor.user1_occupancy
              state: 'on'
            - condition: state
              entity_id: binary_sensor.user2_occupancy
              state: 'on'
            - condition: state
              entity_id: binary_sensor.user3_occupancy
              state: 'on'
            - condition: state
              entity_id: binary_sensor.user4_occupancy
              state: 'on'
        - condition: state
          entity_id: alarm_control_panel.main
          state: disarmed
        - condition: state
          entity_id: input_boolean.enable_alarm_system
          state: 'on'

    action:
      service: alarm_control_panel.alarm_arm_home
      entity_id: alarm_control_panel.main

# Trigger for Alarm Home
  - alias: Alarm - Armed Home

    trigger:
      - platform: state
        entity_id: binary_sensor.frontdoor_contact, binary_sensor.sidedoor_contact, binary_sensor.backdoor_contact
        from: 'off'
        to: 'on'

    condition:
      - condition: state
        entity_id: input_boolean.enable_alarm_system
        state: 'on'
      - condition: state
        entity_id: alarm_control_panel.main
        state: armed_home

    action:
      service: alarm_control_panel.alarm_trigger
      entity_id: alarm_control_panel.main


# Auto rearm for Armed Home (when someone comes home)
  - alias: Auto Status - Rearm Home

    trigger:
      - platform: state
        entity_id: binary_sensor.user1_occupancy, binary_sensor.user2_occupancy, binary_sensor.user3_occupancy, binary_sensor.user4_occupancy
        from: 'off'
        to: 'on'

    condition:
      condition: and
      conditions:
        - condition: time
          after: '00:00:01'
          before: '04:55:00'
        - condition: or
          conditions:
            - condition: state
              entity_id: alarm_control_panel.main
              state: pending
            - condition: state
              entity_id: alarm_control_panel.main
              state: armed_home
        - condition: state
          entity_id: input_boolean.enable_alarm_system
          state: 'on'
        - condition: template
          value_template: "{{ (as_timestamp(now())-as_timestamp(states.binary_sensor.user1_occupancy.last_changed)) > 600 }}"
        - condition: template
          value_template: "{{ (as_timestamp(now())-as_timestamp(states.binary_sensor.user2_occupancy.last_changed)) > 600 }}"
        - condition: template
          value_template: "{{ (as_timestamp(now())-as_timestamp(states.binary_sensor.user3_occupancy.last_changed)) > 600 }}"
        - condition: template
          value_template: "{{ (as_timestamp(now())-as_timestamp(states.binary_sensor.user4_occupancy.last_changed)) > 600 }}"

    action:
      - service: alarm_control_panel.alarm_disarm
        entity_id: alarm_control_panel.main
      - delay: '00:01:00'
      - service: alarm_control_panel.alarm_arm_home
        entity_id: alarm_control_panel.main

# Auto Disarm for Armed Home
  - alias: Auto Status - Disarm Home

    trigger:
      - platform: time
        at: '05:00:00'

    condition:
      - condition: state
        entity_id: alarm_control_panel.main
        state: armed_home
      - condition: state
        entity_id: input_boolean.enable_alarm_system
        state: 'on'

    action:
      - service: alarm_control_panel.alarm_disarm
        entity_id: alarm_control_panel.main


# Auto set status for Armed Away
  - alias: Auto Status - Armed Away

    trigger:
      - platform: state
        entity_id: binary_sensor.user1_occupancy, binary_sensor.user2_occupancy, binary_sensor.user3_occupancy, binary_sensor.user4_occupancy
        from: 'on'
        to: 'off'

    condition:
      condition: and
      conditions:
        - condition: or
          conditions:
            - condition: state
              entity_id: alarm_control_panel.main
              state: disarmed
            - condition: state
              entity_id: alarm_control_panel.main
              state: armed_home
        - condition: state
          entity_id: binary_sensor.user1_occupancy
          state: 'off'
        - condition: state
          entity_id: binary_sensor.user2_occupancy
          state: 'off'
        - condition: state
          entity_id: binary_sensor.user3_occupancy
          state: 'off'
        - condition: state
          entity_id: binary_sensor.user4_occupancy
          state: 'off'
        - condition: state
          entity_id: input_boolean.enable_alarm_system
          state: 'on'

    action:
      service: alarm_control_panel.alarm_arm_away
      entity_id: alarm_control_panel.main

# Trigger for Alarm Away
  - alias: Alarm - Armed Away

    trigger:
      - platform: state
        entity_id: binary_sensor.frontdoor_contact, binary_sensor.sidedoor_contact, binary_sensor.backdoor_contact, binary_sensor.hallway_motion1_sensor, binary_sensor.hallway_motion2_sensor, binary_sensor.uplivingroom_motion_sensor, binary_sensor.upoffice_motion_sensor
        from: 'off'
        to: 'on'

    condition:
      - condition: state
        entity_id: input_boolean.enable_alarm_system
        state: 'on'
      - condition: state
        entity_id: alarm_control_panel.main
        state: armed_away

    action:
      service: alarm_control_panel.alarm_trigger
      entity_id: alarm_control_panel.main


# Auto disarm for Armed Away
  - alias: Auto Status - Disarmed Away

    trigger:
      - platform: state
        entity_id: binary_sensor.user1_occupancy, binary_sensor.user2_occupancy, binary_sensor.user3_occupancy, binary_sensor.user4_occupancy
        from: 'off'
        to: 'on'

    condition:
      condition: and
      conditions:
        - condition: state
          entity_id: input_boolean.enable_alarm_system
          state: 'on'
        - condition: or
          conditions:
            - condition: state
              entity_id: alarm_control_panel.main
              state: pending
            - condition: state
              entity_id: alarm_control_panel.main
              state: armed_away
            - condition: state
              entity_id: alarm_control_panel.main
              state: triggered

    action:
      - service: alarm_control_panel.alarm_disarm
        entity_id: alarm_control_panel.main


# Disable alarm
  - alias: Disable Alarm System

    trigger:
      - platform: state
        entity_id: input_boolean.enable_alarm_system
        from: 'on'
        to: 'off'

    action:
      - service: alarm_control_panel.alarm_disarm
        entity_id: alarm_control_panel.main


# Disarm when notifcation clicked
  - alias: Notifcation Disarm

    trigger:
      - platform: event
        event_type: html5_notification.clicked
        event_data:
          action: disarm_ha

    action:
      - service: alarm_control_panel.alarm_disarm
        entity_id: alarm_control_panel.main

# Notification when alarm triggerd
  - alias: Notify when alarm is triggered

    trigger:
      - platform: state
        entity_id: alarm_control_panel.main
        from: 'pending'
        to: 'triggered'

    action:
      - service: notify.html5
        data:
          title: 'ALARM! - {{now().strftime("%l:%M %P")}}'
          message: "ALARM! Your home alarm has been triggered."
          data:
            image: !secret frontdoorimage
            requireInteraction: true
            renotify: true
            tag: 'ha_alarm'
            url: '/states/group.security'
            actions:
              - action: 'disarm_ha'
                title: 'Disarm'
      - service: notify.twilio_calling
        data:
          message: 'Your home assistant security alarm has been triggered.'
          target:
            - !secret notificationtarget

# Notification when alarm disarmed
  - alias: Notify when alarm is disarmed

    trigger:
      - platform: state
        entity_id: alarm_control_panel.main
        from: 'triggered'
        to: 'disarmed'

    condition:
      - condition: state
        entity_id: input_boolean.enable_alarm_system
        state: 'on'

    action:
      - service: notify.html5
        data:
          title: 'Disarmed - {{now().strftime("%l:%M %P")}}'
          message: "Your home alarm has been disarmed."
          data:
            requireInteraction: false
            renotify: false
            silent: true
            noscreen: true
            tag: 'ha_alarm'
            url: '/states/group.security'
